<a href="https://colab.research.google.com/github/kuldip-datascience/Play_store_eda/blob/main/Kuldip_parmar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Import Libraries**

In [111]:
import pandas as pd
import numpy as np

# **2) Load DataSet into Pandas**

In [112]:
play_store=pd.read_csv('/content/drive/MyDrive/Capstone Projects/play-store review/Copy of Play Store Data.csv')

# **3) ANALYSIS OF DATASET**

> we understand first the columns and rows and the information associated within.

In [113]:
#now we check the complete dataset
play_store.head().T

,0,1,2,3,4
App,Photo Editor & Candy Camera & Grid & ScrapBook,Coloring book moana,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Sketch - Draw & Paint,Pixel Draw - Number Art Coloring Book
Category,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN
Rating,4.1,3.9,4.7,4.5,4.3
Reviews,159,967,87510,215644,967
Size,19M,14M,8.7M,25M,2.8M
Installs,"10,000+","500,000+","5,000,000+","50,000,000+","100,000+"
Type,Free,Free,Free,Free,Free
Price,0,0,0,0,0
Content Rating,Everyone,Everyone,Everyone,Teen,Everyone
Genres,Art & Design,Art & Design;Pretend Play,Art & Design,Art & Design,Art & Design;Creativity
Last Updated,"January 7, 2018","January 15, 2018","August 1, 2018","June 8, 2018","June 20, 2018"
Current Ver,1.0.0,2.0.0,1.2.4,Varies with device,1.1
Android Ver,4.0.3 and up,4.0.3 and up,4.0.3 and up,4.2 and up,4.4 and up

In [114]:
# first we get the summary of dataset playstore
play_store.info()

#dataset has 13 columns and 10841 rows with null values in some columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB



> now we see description of dataset

In [115]:
play_store.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000



> now we see available columns are there in dataset

In [116]:
play_store.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

# **4) DATA CLEANING AND FILL MISSING DATA**



> Let's first find Null values presented in each column.

In [117]:
#play_store.shape[0]
#null_value_check=pd.dataframe("")

NaN_Checker = pd.DataFrame({"Total Values": play_store.shape[0] , "No of NaN values":play_store.isnull().sum() })
NaN_Checker.sort_values("No of NaN values" , ascending = False)

                Total Values  No of NaN values
Rating                 10841              1474
Current Ver            10841                 8
Android Ver            10841                 3
Type                   10841                 1
Content Rating         10841                 1
App                    10841                 0
Category               10841                 0
Reviews                10841                 0
Size                   10841                 0
Installs               10841                 0
Price                  10841                 0
Genres                 10841                 0
Last Updated           10841                 0



> Now, we replace some columns name which have space between their name.

In [118]:
print("Before updating columns name :\n\n",play_store.columns)

Before updating columns name :

 Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [119]:
play_store.columns = [col_name.replace(' ','_') for col_name in play_store.columns]

print("After updating columns name :\n\n",play_store.columns)

After updating columns name :

 Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Current_Ver',
       'Android_Ver'],
      dtype='object')



> now we do some cleaning and replace null and missing values of columns one by one.

# 4.1 - *Installs* Column Cleaning

In [120]:
# type of installs column
play_store['Installs'].head()

0        10,000+
1       500,000+
2     5,000,000+
3    50,000,000+
4       100,000+
Name: Installs, dtype: object



 **4.1.1  Cleaning of data**



> " Installs datatype is str , so column might have some string value let's check it "

In [121]:
play_store.Installs.value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: Installs, dtype: int64



> As we can see there is 1 value Free and it has no meaning so drop it.

In [122]:
play_store.drop(play_store[play_store['Installs'] == 'Free'].index, inplace = True)          #this will drop whole row in dataset so total rows becomes 10480


play_store.Installs.value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: Installs, dtype: int64



> now remove  '+'  and ' , '  sign .

In [123]:
#for every value changes we use map and lambda function
play_store['Installs'] = play_store['Installs'].map(lambda x: x.replace('+' , ""))


#as we can see there is ',' is making problem to convert into int so we remove it.
play_store['Installs'] = play_store['Installs'].map(lambda x: x.replace(',' , ''))

**4.1.2  Datatype Conversion**

In [124]:
#changing str to int
play_store['Installs'] = play_store['Installs'].astype(np.int64)


#now we can see we have done cleaning and make column int64 type as well. 0
play_store.Installs.head()

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: int64

In [125]:
play_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  object
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content_Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last_Updated    10840 non-null  object
 11  Current_Ver     10832 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.2+ MB

# 4.2 - *Price* column cleaning

In [126]:
play_store['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

**4.2.1 Data cleaning and Datatype conversion**



> for removing $ symbol we have to convert float64 to string datatype then back to float64 for calculations.

In [127]:
#float to str 
play_store['Price']=play_store['Price'].astype(str)


#removing '$' from column and converting to float back.
play_store['Price']=play_store['Price'].map(lambda x: x.replace('$' , ""))


play_store['Price']=pd.to_numeric(play_store['Price'])

****

#4.3 - *Review* Column Cleaning



> 4.3.1 check data type and value of that.

In [128]:
play_store.info()
# as we can see there is no null/missing value exists.

print('\ndatatype of reviews column is :',play_store['Reviews'].dtype)
# reviews datatype is object but column contains  numeric values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  object
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content_Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last_Updated    10840 non-null  object
 11  Current_Ver     10832 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.2+ MB

datatype of reviews column is : object

In [129]:
# check wether column contains any string or other types of values or not.
lst=[i for i in play_store['Reviews'] ]
chk=[j for j in lst if j.isalpha()]

print(chk)
print(len(chk))          #we can see here there is 10840 values/rows presented.

[]
0



> 4.3.2 data conversion

In [130]:
play_store['Reviews'] = pd.to_numeric(play_store["Reviews"])

print('\ndatatype of reviews column is :',play_store['Reviews'].dtype)

datatype of reviews column is : int64

# 4.4 - *size* Column Cleaning



> 4.4.1 check datatype and values of column

In [131]:
play_store['Size'].head(15).reset_index()

    index  Size
0       0   19M
1       1   14M
2       2  8.7M
3       3   25M
4       4  2.8M
5       5  5.6M
6       6   19M
7       7   29M
8       8   33M
9       9  3.1M
10     10   28M
11     11   12M
12     12   20M
13     13   21M
14     14   37M

In [132]:
#datatype of size
print("datatype of size :",play_store['Size'].dtype,"\n")

#unique values presents in size column
play_store.Size.unique()

datatype of size : object

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)



> 4.4.2 data conversion and cleaning

In [135]:
# as we seen there is 1 value 'Varies with device' has no meaning so we'll replace it by nan.
play_store['Size']= play_store['Size'].replace('Varies with device',np.nan)

In [157]:
# there is M represents MB and K represents KB        1MB = 1024kB 
# we have to convert it into numerical value for calculation and remove M and K from it.

play_store['Size'] = play_store['Size'].astype(str)    

print(play_store['Size'].dtype)

def mbconverter(val):
      mb= 'M'
      kb= 'k'
      if mb in val:
         mb_conv=val.replace(mb,'')
         return float(mb_conv)
      elif kb in val:
        kb_conv=val.replace(kb,'')
        return (float(kb_conv)/1024)
      else:
        return float(val) 

play_store['Size'] = play_store['Size'].apply(mbconverter).astype(np.float32)      
#play_store['Size'] = play_store['Size'].apply(lambda xy: mbconverter(xy['val']))

play_store['Size'].head()

play_store['Size'].unique()

object

array([1.90000000e+01, 1.40000000e+01, 8.69999981e+00, 2.50000000e+01,
       2.79999995e+00, 5.59999990e+00, 2.90000000e+01, 3.30000000e+01,
       3.09999990e+00, 2.80000000e+01, 1.20000000e+01, 2.00000000e+01,
       2.10000000e+01, 3.70000000e+01, 2.70000005e+00, 5.50000000e+00,
       1.70000000e+01, 3.90000000e+01, 3.10000000e+01, 4.19999981e+00,
       7.00000000e+00, 2.30000000e+01, 6.00000000e+00, 6.09999990e+00,
       4.59999990e+00, 9.19999981e+00, 5.19999981e+00, 1.10000000e+01,
       2.40000000e+01,            nan, 9.39999962e+00, 1.50000000e+01,
       1.00000000e+01, 1.20000005e+00, 2.60000000e+01, 8.00000000e+00,
       7.90000010e+00, 5.60000000e+01, 5.70000000e+01, 3.50000000e+01,
       5.40000000e+01, 1.96289062e-01, 3.59999990e+00, 5.69999981e+00,
       8.60000038e+00, 2.40000010e+00, 2.70000000e+01, 2.50000000e+00,
       1.60000000e+01, 3.40000010e+00, 8.89999962e+00, 3.90000010e+00,
       2.90000010e+00, 3.80000000e+01, 3.20000000e+01, 5.40000010e+00,
       1.80000000e+01, 1.10000002e+00, 2.20000005e+00, 4.50000000e+00,
       9.80000019e+00, 5.20000000e+01, 9.00000000e+00, 6.69999981e+00,
       3.00000000e+01, 2.59999990e+00, 7.09999990e+00, 3.70000005e+00,
       2.20000000e+01, 7.40000010e+00, 6.40000010e+00, 3.20000005e+00,
       8.19999981e+00, 9.89999962e+00, 4.90000010e+00, 9.50000000e+00,
       5.00000000e+00, 5.90000010e+00, 1.30000000e+01, 7.30000000e+01,
       6.80000019e+00, 3.50000000e+00, 4.00000000e+00, 2.29999995e+00,
       7.19999981e+00, 2.09999990e+00, 4.20000000e+01, 7.30000019e+00,
       9.10000038e+00, 5.50000000e+01, 2.24609375e-02, 6.50000000e+00,
       1.50000000e+00, 7.50000000e+00, 5.10000000e+01, 4.10000000e+01,
       4.80000000e+01, 8.50000000e+00, 4.60000000e+01, 8.30000019e+00,
       4.30000019e+00, 4.69999981e+00, 3.29999995e+00, 4.00000000e+01,
       7.80000019e+00, 8.80000019e+00, 6.59999990e+00, 5.09999990e+00,
       6.10000000e+01, 6.60000000e+01, 7.71484375e-02, 8.39999962e+00,
       1.15234375e-01, 4.40000000e+01, 6.78710938e-01, 1.60000002e+00,
       6.19999981e+00, 1.75781250e-02, 5.30000000e+01, 1.39999998e+00,
       3.00000000e+00, 5.80000019e+00, 3.79999995e+00, 9.60000038e+00,
       4.50000000e+01, 6.30000000e+01, 4.90000000e+01, 7.70000000e+01,
       4.40000010e+00, 4.80000019e+00, 7.00000000e+01, 6.90000010e+00,
       9.30000019e+00, 8.10000038e+00, 3.60000000e+01, 8.40000000e+01,
       9.70000000e+01, 2.00000000e+00, 1.89999998e+00, 1.79999995e+00,
       5.30000019e+00, 4.70000000e+01, 5.42968750e-01, 5.13671875e-01,
       7.60000000e+01, 7.59999990e+00, 5.90000000e+01, 9.69999981e+00,
       7.80000000e+01, 7.20000000e+01, 4.30000000e+01, 7.69999981e+00,
       6.30000019e+00, 3.26171875e-01, 3.40000000e+01, 9.30000000e+01,
       6.50000000e+01, 7.90000000e+01, 1.00000000e+02, 5.80000000e+01,
       5.00000000e+01, 6.80000000e+01, 6.40000000e+01, 6.70000000e+01,
       6.00000000e+01, 9.40000000e+01, 2.26562500e-01, 9.90000000e+01,
       6.09375000e-01, 9.50000000e+01, 8.30078125e-03, 4.00390625e-02,
       2.85156250e-01, 1.07421875e-02, 8.00000000e+01, 1.70000005e+00,
       7.40000000e+01, 6.20000000e+01, 6.90000000e+01, 7.50000000e+01,
       9.80000000e+01, 8.50000000e+01, 8.20000000e+01, 9.60000000e+01,
       8.70000000e+01, 7.10000000e+01, 8.60000000e+01, 9.10000000e+01,
       8.10000000e+01, 9.20000000e+01, 8.30000000e+01, 8.80000000e+01,
       6.87500000e-01, 8.41796875e-01, 8.77929688e-01, 3.69140625e-01,
       2.59765625e-01, 3.66210938e-01, 1.29999995e+00, 9.52148438e-01,
       9.57031250e-01, 4.09999990e+00, 8.90000000e+01, 6.79687500e-01,
       5.31250000e-01, 5.12695312e-01, 8.98437500e-01, 7.60742188e-01,
       8.33007812e-01, 7.03125000e-01, 6.96289062e-01, 7.53906250e-01,
       3.10546875e-01, 5.66406250e-02, 2.35351562e-01, 1.91406250e-01,
       8.36914062e-01, 4.98046875e-02, 9.30664062e-01, 8.44726562e-01,
       2.45117188e-01, 9.08203125e-01, 5.27343750e-01, 3.05664062e-01,
       7.28515625e-01, 1.98242188e-01, 2.53906250e-02, 3.06640625e-01,
       2.33398438e-01, 3.62304688e-01, 2.14843750e-01, 7.12890625e-01,
       7.38281250e-01, 8.88671875e-02, 2.86132812e-01, 1.66015625e-02,
       7.22656250e-02, 1.36718750e-02, 3.09570312e-01, 7.61718750e-02,
       9.02343750e-01, 8.80859375e-01, 7.98828125e-01, 7.91015625e-02,
       9.16992188e-01, 1.65039062e-01, 4.39453125e-02, 4.63867188e-01,
       9.42382812e-01, 9.00000000e+01, 5.32226562e-01, 5.95703125e-02,
       2.76367188e-01, 6.39648438e-01, 6.97265625e-01, 9.08203125e-02,
       8.51562500e-01, 1.18164062e-01, 3.14453125e-01, 1.00000000e+00,
       9.53125000e-01, 1.67968750e-01, 2.32421875e-01, 5.36132812e-01,
       2.01171875e-01, 9.31640625e-01, 4.33593750e-01, 7.00195312e-01,
       2.05078125e-01, 5.94726562e-01, 3.00781250e-01, 6.88476562e-01,
       2.98828125e-01, 8.82812500e-01, 4.61914062e-01, 1.70898438e-01,
       3.41796875e-01, 3.74023438e-01, 4.43359375e-01, 4.11132812e-01,
       6.83593750e-02, 7.92968750e-01, 4.31640625e-01, 8.22265625e-01,
       4.07226562e-01, 4.02343750e-01, 4.48242188e-01, 4.66796875e-01,
       3.27148438e-01, 7.63671875e-01, 7.04101562e-01, 4.19921875e-01,
       4.18945312e-01, 1.87500000e-01, 1.95312500e-01, 4.49218750e-01,
       7.10937500e-01, 4.84375000e-01, 7.96875000e-01, 4.04296875e-01,
       4.94140625e-01, 8.66210938e-01, 5.98632812e-01, 2.37304688e-01,
       5.55664062e-01, 7.59765625e-01, 6.66992188e-01, 5.78125000e-01,
       3.11523438e-01, 1.81640625e-01, 8.20312500e-01, 6.31835938e-01,
       1.86523438e-01, 3.64257812e-01, 4.26757812e-01, 5.83984375e-01,
       6.99218750e-01, 5.71289062e-01, 9.58984375e-01, 2.16796875e-01,
       2.13867188e-01, 5.37109375e-02, 9.25781250e-01, 3.15429688e-01,
       6.74804688e-01, 4.99023438e-01, 9.28710938e-01, 9.40429688e-01,
       2.44140625e-02, 5.41015625e-01, 3.42773438e-01, 2.63671875e-02,
       8.00781250e-02, 2.03125000e-01, 8.91601562e-01, 5.01953125e-01,
       5.38085938e-01, 2.83203125e-02, 1.00585938e-01, 8.76953125e-01,
       7.25585938e-01, 1.13281250e-01, 1.49414062e-01, 2.04101562e-01,
       3.44726562e-01, 4.87304688e-01, 1.68945312e-01, 5.83007812e-01,
       7.90039062e-01, 1.19140625e-01, 4.01367188e-01, 3.90625000e-01,
       7.82226562e-01, 7.68554688e-01, 2.31445312e-01, 4.88281250e-02,
       6.27929688e-01, 9.62890625e-01, 9.47265625e-02, 5.03906250e-01,
       8.17382812e-01, 7.61718750e-01, 9.38476562e-01, 2.62695312e-01,
       1.95312500e-02, 4.86328125e-01, 5.85937500e-01, 7.31445312e-01,
       6.26953125e-01, 8.60351562e-01, 7.03125000e-02, 6.40625000e-01,
       5.86914062e-01, 2.15820312e-01, 2.22656250e-01, 1.05468750e-01,
       9.17968750e-01, 1.71875000e-01, 3.22265625e-02, 6.47460938e-01,
       3.32031250e-02, 9.19921875e-01, 2.52929688e-01, 1.60156250e-01,
       4.47265625e-01, 2.39257812e-01, 6.14257812e-01, 2.73437500e-02,
       2.81250000e-01, 7.56835938e-01, 7.66601562e-01, 6.21093750e-01,
       8.94531250e-01, 9.70703125e-01, 3.01757812e-01, 4.73632812e-01,
       8.92578125e-01, 8.81835938e-01, 5.93750000e-01, 4.88281250e-01,
       5.27343750e-02, 5.48828125e-01, 8.27148438e-01, 9.34570312e-01,
       6.71875000e-01, 7.91992188e-01, 2.63671875e-01, 4.68750000e-02,
       3.21289062e-01, 5.10742188e-01, 8.99414062e-01, 8.53515625e-01,
       9.58007812e-01, 7.65625000e-01, 2.73437500e-01, 2.34375000e-02,
       5.05859375e-01, 7.36328125e-01, 8.71093750e-01, 1.50390625e-01,
       8.39843750e-01, 3.55468750e-01, 3.77929688e-01, 6.11328125e-01,
       1.57226562e-01, 8.58398438e-01, 3.80859375e-02, 9.47265625e-01,
       1.66015625e-01, 1.37695312e-01, 1.56250000e-01, 1.40625000e-01,
       1.39648438e-01, 1.85546875e-01, 3.67187500e-01, 1.88476562e-01,
       2.40234375e-01, 7.12890625e-02, 6.42578125e-01, 9.68750000e-01,
       2.47070312e-01, 4.10156250e-01, 3.94531250e-01, 4.58984375e-01,
       2.20703125e-01, 2.34375000e-01, 8.69140625e-02, 2.28515625e-01,
       2.50976562e-01, 8.40820312e-01, 4.56054688e-01, 1.53320312e-01,
       4.29687500e-02, 6.60156250e-01, 6.54296875e-02, 5.39062500e-01,
       8.64257812e-01, 9.96093750e-01, 5.68359375e-01, 6.04492188e-01],
      dtype=float32)

# **5) DATA OPERATIONS AND  VISUALIZATION**

# **Now we will analyse the following questions and do data visualization on them**


*   find the category of evey application and count how many application of same category.
*   find the top 10 record of Rating above 4 and top 10 lowest Rating equals to 

*   15 Most reviewed applications list.
*   apllications which has highest downloads and category of them.


*   number of free and expensive application downloaded by users. 
*