<a href="https://colab.research.google.com/github/kuldip-datascience/Play_store_eda/blob/main/Kuldip_parmar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) IMPORTED LIBRARIES**

In [132]:
import pandas as pd
import numpy as np

# **2) LOAD DATASET INTO PANDAS**

In [133]:
play_store=pd.read_csv('/content/drive/MyDrive/Capstone Projects/play-store review/Copy of Play Store Data.csv')

# **3) ANALYSIS OF DATASET**

**3.1 - We will understand first the columns and rows and the information associated within.**

In [134]:
# now we check the complete dataset
play_store.head().T

,0,1,2,3,4
App,Photo Editor & Candy Camera & Grid & ScrapBook,Coloring book moana,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Sketch - Draw & Paint,Pixel Draw - Number Art Coloring Book
Category,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN
Rating,4.1,3.9,4.7,4.5,4.3
Reviews,159,967,87510,215644,967
Size,19M,14M,8.7M,25M,2.8M
Installs,"10,000+","500,000+","5,000,000+","50,000,000+","100,000+"
Type,Free,Free,Free,Free,Free
Price,0,0,0,0,0
Content Rating,Everyone,Everyone,Everyone,Teen,Everyone
Genres,Art & Design,Art & Design;Pretend Play,Art & Design,Art & Design,Art & Design;Creativity
Last Updated,"January 7, 2018","January 15, 2018","August 1, 2018","June 8, 2018","June 20, 2018"
Current Ver,1.0.0,2.0.0,1.2.4,Varies with device,1.1
Android Ver,4.0.3 and up,4.0.3 and up,4.0.3 and up,4.2 and up,4.4 and up

In [135]:
# first we get the summary of dataset playstore
play_store.info()

# dataset has 13 columns and 10841 rows with null values in some columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB



**3.2 - Description of dataset**

In [136]:
play_store.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000



**3.3 - Available columns are there in dataset**

In [137]:
play_store.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

# **4) DATA CLEANING AND FILL MISSING DATA**


**4.0.1 - Let's first find Null values presented in each column.**

In [ ]:
# play_store.shape[0]
# null_value_check=pd.dataframe("")

NaN_Checker = pd.DataFrame({"Total Values": play_store.shape[0] , "No of NaN values":play_store.isnull().sum() })
NaN_Checker.sort_values("No of NaN values" , ascending = False)



**4.0.2 - Now, we replace some columns name which have space between their name.**

In [ ]:
print("Before updating columns name :\n\n",play_store.columns)

In [ ]:
play_store.columns = [col_name.replace(' ','_') for col_name in play_store.columns]

print("After updating columns name :\n\n",play_store.columns)



**4.0.3 - Now we do some cleaning and replace null and missing values of columns one by one.**

# 4.1 - *Installs* Column Cleaning

**4.1.1 - Let's see the data**

In [141]:
# type of installs column
play_store['Installs'].head()

0        10,000+
1       500,000+
2     5,000,000+
3    50,000,000+
4       100,000+
Name: Installs, dtype: object



> " Install column's datatype is str , so column might have some string value let's check it "

In [142]:
play_store.Installs.value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: Installs, dtype: int64



 **4.1.2 - Cleaning of column data**



> As we can see there is 1 value Free and it has no meaning so drop it.

In [143]:
play_store.drop(play_store[play_store['Installs'] == 'Free'].index, inplace = True)          # this will drop whole row in dataset so total rows becomes 10480


play_store.Installs.value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: Installs, dtype: int64



> now remove  '+'  and ' , '  sign .

In [144]:
#for every value changes we use map and lambda function
play_store['Installs'] = play_store['Installs'].map(lambda x: x.replace('+' , ""))


#as we can see there is ',' is making problem to convert into int so we remove it.
play_store['Installs'] = play_store['Installs'].map(lambda x: x.replace(',' , ''))

**4.1.3 -  Datatype Conversion**

In [145]:
#changing str to int
play_store['Installs'] = play_store['Installs'].astype(np.int64)


#now we can see we have done cleaning and make column int64 type as well. 0
play_store.Installs.head()

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: int64

In [146]:
play_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  object
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content_Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last_Updated    10840 non-null  object
 11  Current_Ver     10832 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.2+ MB

# 4.2 - *Price* Column Cleaning



**4.2.1 - Lets check the data first**

In [ ]:
play_store['Price'].unique()

**4.2.2 - Data cleaning and Datatype conversion**



> for removing $ symbol we have to convert float64 to string datatype then back to float64 for calculations.

In [148]:
# for remove $ we have to make column float to str.
play_store['Price']=play_store['Price'].astype(str)


#removing '$' from column and converting to float back.
play_store['Price']=play_store['Price'].map(lambda x: x.replace('$' ,''))


play_store['Price']=pd.to_numeric(play_store['Price'])

****

#4.3 - *Review* Column Cleaning



**4.3.1 - Check data type and value of that.**

In [111]:
play_store.info()
# as we can see there is no null/missing value exists.

print('\ndatatype of reviews column is :',play_store['Reviews'].dtype)
# reviews datatype is object but column contains  numeric values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  object
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content_Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last_Updated    10840 non-null  object
 11  Current_Ver     10832 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.2+ MB

datatype of reviews column is : object

In [112]:
# check wether column contains any string or other types of values or not.
lst=[i for i in play_store['Reviews'] ]
chk=[j for j in lst if j.isalpha()]

print(chk)
print(len(chk))          # we can see here there is 10840 values/rows presented.

[]
0



**4.3.2 - Data conversion**

In [113]:
play_store['Reviews'] = pd.to_numeric(play_store["Reviews"])

print('\ndatatype of reviews column is :',play_store['Reviews'].dtype)

datatype of reviews column is : int64

# 4.4 - *Size* Column Cleaning



**4.4.1 - Check datatype and values of column**

In [120]:
play_store['Size'].head(15).reset_index()

    index  Size
0       0  19.0
1       1  14.0
2       2   8.7
3       3  25.0
4       4   2.8
5       5   5.6
6       6  19.0
7       7  29.0
8       8  33.0
9       9   3.1
10     10  28.0
11     11  12.0
12     12  20.0
13     13  21.0
14     14  37.0

In [ ]:
# datatype of size
print("datatype of size :",play_store['Size'].dtype,"\n")

# unique values presents in size column
play_store.Size.unique()



**4.4.2 - Data conversion and cleaning**

In [122]:
# as we seen there is 1 value 'Varies with device' has no meaning so we'll replace it by nan, later we'll remove all nan from dataset
play_store['Size']= play_store['Size'].replace('Varies with device',np.nan)

In [ ]:
# there is M represents MB and K represents KB        1MB = 1024kB 
# we have to convert it into numerical value for calculation and remove M and K from it.

# first we have to convert object datatype to string.
play_store['Size'] = play_store['Size'].astype(str)    


def mbconverter(val):
      mb= 'M'
      kb= 'k'
      if mb in val:
         mb_conv=float(val.replace(mb,''))
         return mb_conv
      elif kb in val:
        kb_conv=float(val.replace(kb,''))
        return float(kb_conv/1024)                                                 # here we converts all the kb values into mb.
      else:
        return val 


play_store['Size'] = play_store['Size'].apply(mbconverter).astype(np.float32)      # datatype conversion and applying unction over Size column  


# see the result
play_store

# **5) DATA OPERATIONS AND  VISUALIZATION**

# **Now we will analyse the following questions and do data visualization on them**


*   find the category of evey application and count how many application of same category.
*   find the top 10 record of Rating above 4 and top 10 lowest Rating equals to 

*   15 Most reviewed applications list.
*   apllications which has highest downloads and category of them.


*   number of free and expensive application downloaded by users. 
*