<a href="https://colab.research.google.com/github/kuldip-datascience/Play_store_eda/blob/main/Kuldip_parmar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Import Libraries**

In [2]:
import pandas as pd
import numpy as np

# **2) Load DataSet into Pandas**

In [3]:
play_store=pd.read_csv('/content/drive/MyDrive/Capstone Projects/play-store review/Copy of Play Store Data.csv')

# **3) ANALYSIS OF DATASET**

> we understand first the columns and rows and the information associated within.

In [4]:
#now we check the complete dataset
play_store.head().T

,0,1,2,3,4
App,Photo Editor & Candy Camera & Grid & ScrapBook,Coloring book moana,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Sketch - Draw & Paint,Pixel Draw - Number Art Coloring Book
Category,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN,ART_AND_DESIGN
Rating,4.1,3.9,4.7,4.5,4.3
Reviews,159,967,87510,215644,967
Size,19M,14M,8.7M,25M,2.8M
Installs,"10,000+","500,000+","5,000,000+","50,000,000+","100,000+"
Type,Free,Free,Free,Free,Free
Price,0,0,0,0,0
Content Rating,Everyone,Everyone,Everyone,Teen,Everyone
Genres,Art & Design,Art & Design;Pretend Play,Art & Design,Art & Design,Art & Design;Creativity
Last Updated,"January 7, 2018","January 15, 2018","August 1, 2018","June 8, 2018","June 20, 2018"
Current Ver,1.0.0,2.0.0,1.2.4,Varies with device,1.1
Android Ver,4.0.3 and up,4.0.3 and up,4.0.3 and up,4.2 and up,4.4 and up

In [ ]:
# first we get the summary of dataset playstore
play_store.info()

#dataset has 13 columns and 10841 rows with null values in some columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB



> now we see description of dataset

In [ ]:
play_store.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000



> now we see available columns are there in dataset

In [ ]:
play_store.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

# **4) DATA CLEANING AND FILL MISSING DATA**



> we replace some columns name which have space between their name.

In [5]:
print("Before updating columns name :\n\n",play_store.columns)

Before updating columns name :

 Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [6]:
play_store.columns = [col_name.replace(' ','_') for col_name in play_store.columns]

print("After updating columns name :\n\n",play_store.columns)

After updating columns name :

 Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Current_Ver',
       'Android_Ver'],
      dtype='object')



> now we do some cleaning and replace null and missing values of columns one by one.

# 4.1  *Installs* column cleaning

In [7]:
# type of installs column
play_store['Installs'].head()

0        10,000+
1       500,000+
2     5,000,000+
3    50,000,000+
4       100,000+
Name: Installs, dtype: object



 **4.1.1  cleaning of data**



> " Installs datatype is str , so column might have some string value let's check it "

In [8]:
play_store.Installs.value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: Installs, dtype: int64



> As we can see there is 1 value Free and it has no meaning so drop it.

In [ ]:
play_store.drop(play_store[play_store['Installs'] == 'Free'].index, inplace = True)


play_store.Installs.value_counts()



> now remove  '+'  and ' , '  sign .

In [22]:
#for every value changes we use map and lambda function
play_store['Installs'] = play_store['Installs'].map(lambda x: x.replace('+' , ""))


#as we can see there is ',' is making problem to convert into int so we remove it.
play_store['Installs'] = play_store['Installs'].map(lambda x: x.replace(',' , ''))

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: int64

**4.1.2  datatype conversion**

In [ ]:
#changing str to int
play_store['Installs'] = play_store['Installs'].astype(np.int64)


#now we can see we have done cleaning and make column int64 type as well. 0
play_store.Installs.head()

# 4.2  *Price* column cleaning

In [ ]:
#here we replaced null to 0 in  Rating column which has float datatype
play_store['Rating']=play_store['Rating'].replace(np.nan,0)

#here we fill 1 missing value as 'Unknown'
play_store['Type']=play_store['Type'].replace(np.nan,'Unknown')

#here we fill 1 missing value as 'Unknown'
play_store['Content_Rating']=play_store['Content_Rating'].replace(np.nan,'Unknown')

#here we fill 8 missing value as '1.0.0' lowest possible Current version
play_store['Current_Ver']=play_store['Current_Ver'].replace(np.nan,'1.0.0')

#here we fill 8 missing value as '1.0.0' lowest possible Current version
play_store['Android_Ver']=play_store['Android_Ver'].replace(np.nan,'1.0 and up')



play_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10841 non-null  object
 7   Price           10841 non-null  object
 8   Content_Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Current_Ver     10841 non-null  object
 12  Android_Ver     10841 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
x=play_store['App'].duplicated()
x.sum()

1181

# **5) DATA OPERATIONS AND  VISUALIZATION**

# **Now we will analyse the following questions and do data visualization on them**


*   find the category of evey application and count how many application of same category.
*   find the top 10 record of Rating above 4 and top 10 lowest Rating equals to 

*   15 Most reviewed applications list.
*   apllications which has highest downloads and category of them.


*   number of free and expensive application downloaded by users. 
*